body {
  background-color: #2311c4; 
  font-family: Arial, sans-serif;
  color: #eee; 
  text-align: center;
  margin: 0;
  line-height: 1.6;
}

header {
  background: #ffffff;
  font-family: 'Times New Roman', Times, serif;
  color: #2311c4;
  text-align: center;
  padding: 20px 10px;
}

h1 {
  margin: 0;
  font-size: 2.5em;
  color: #2311c4;
  text-align: center;
}

h2 {
  color: #ccc;
  border-bottom: 2px solid #555;
  padding-bottom: 5px;
}

.section {
  background: #222;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
}

ol, ul {
  text-align: left;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img {
  border: 4px solid #555;
  border-radius: 8px;
}

nav a, a {
  color: #2311c4;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: large;
}

nav {
  text-align: left;
  margin: 20px;
}

footer {
  background: #ffffff;
  padding: 40px 20px;
  font-size: x-large;
}